@charset "UTF-8";

/**
 * Bouton pour demander la nationalité	
 */
#register {
	text-align: center;
	background-color: grey;
	border-radius: 5px; 
}

#register hr{
	margin: 1px;
}

html, body {
    background-color: #0b0c0d;
}