<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{head:: baseLayout(titre='Carte d\'identité du DirtyBiologistan')}"></head>

<body>
	<header th:replace="~{header:: baseLayout()}"></header>

	<h2></h2>
	<div id="frame1">
		<div id="frame2">
			<table id="frontCard">
				<tbody>
					<tr id="RPDB">
						<td  colspan="3">République Populaire du DirtyBiologistan</td>
					</tr>
					<tr id="photoCNI">
						<td rowspan="4" ><img th:attr="src=${ressourceesDeploy +'/img/PHOTOID.jpg'}"></td>
						<td id="CNI">Carte nationale d'identité</td>
						<td id="Nationaliter" th:if="${people.isDirtybiologistanais()}">Nationalité&nbsp:&nbspDirtybiologistanaise</td>
					</tr>
					<tr id="Pseudo">
						<td >Pseudo : [[${people.username}]]</td>
					</tr>
					<tr id="prenomNom">
						<td id="Prenom">Prénom : [[${people.firstname}]]</td>
						<td id="Nom">Nom : [[${people.name}]]</td>
					</tr>
					<tr id="Position">
						<td>Position pixel : [[${people.colone}]]:[[${people.ligne}]]</td>
					</tr>
					<tr id="bottomCardFront">
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<table id="backCard">
		<tbody>
			<tr>
				<td id="lieuIRL">[[${people.lieuIRL}]]</td>
			</tr>
			<tr>
				<td id="lieuVR">[[${people.lieuVR}]]</td>
			</tr>
			<tr>
				<td id="debutValiditer">[[${people.debutValiditer}]]</td>
			</tr>
			<tr>
				<td id="finValiditer">[[${people.finValiditer}]]</td>
			</tr>
		</tbody>
	</table>
	<footer th:replace="~{footer:: baseLayout()}"></footer>
</body>

</html>