<!DOCTYPE html>
<html lang='fr'>
<head th:replace="~{head:: baseLayout(titre='DirtyBiologystan - État')}"></head>
<body>
  <header th:replace="~{header:: baseLayout()}"></header>
  <section id="intro">
    <h5>
      Ceci est le site web non officiel (actuellement) du <strong>DirtyBiologystan</strong>
    </h5>
    <p>Vu son très très jeune âge, merci de patienter pour les
      services publics en cours de déploiement</p>
    <p>Il sera demandé aux divers partis politiques de se faire
      connaître à partir du 5 novembre 12h00 sur la plateforme</p>
     <p>Monsieur Émilien Gallet ([127:36] WolfoMir sur discord) en sa qualité de citoyen s'adressera dans un message à la nation aux Dirtybiologistiens dans la même journée</p>
    <p>
      Dans l'attente de l'établissement de notre nouvelle <a
        href="./constitution">consitution</a>, merci de bien vouloir
      patienter
    </p>

  <p id="end">Cordialement, un citoyen du DirtyBiologistan</p>
  </section>
  <section id="menu">
    <table>
      <tr class="largeScreen">
        <td></td>
        <td><img th:attr="src=${ressourceesDeploy +'/img/id.png'}"><div>Famille</div></td>
        <td><img th:attr="src=${ressourceesDeploy +'/img/justice.png'}"><div>Consitution<br>&<br>Justice</div></td>
        <td><img th:attr="src=${ressourceesDeploy +'/img/assotiation.png'}"><div>Assosciation</div></td>
        <td><img th:attr="src=${ressourceesDeploy +'/img/administration.png'}"><div>Administration</div></td>
        <td><img th:attr="src=${ressourceesDeploy +'/img/stranger.png'}"><div>Voyage à l'étranger</div></td>
      </tr>
      <!--  -->
      <tr class="smallScreen"><td><a href="/citoyenneté"><img th:attr="src=${ressourceesDeploy +'/img/id.png'}"><div>Papier-Citoyenneté</div></a></td></tr>
      <tr class="smallScreen"><td><img th:attr="src=${ressourceesDeploy +'/img/justice.png'}"><div>Consitution<br>&<br>Justice</div></td></tr>
      <tr class="smallScreen"><td><img th:attr="src=${ressourceesDeploy +'/img/assotiation.png'}"><div>Assosciation</div></td></tr>
      <tr class="smallScreen"><td><img th:attr="src=${ressourceesDeploy +'/img/administration.png'}"><div>Administration</div></td></tr>
      <tr class="smallScreen"><td><img th:attr="src=${ressourceesDeploy +'/img/stranger.png'}"><div>Voyage à l'étranger</div></td></tr>
    </table>
  </section>
  <section id="vide"></section>
  <footer th:replace="~{footer:: baseLayout()}"></footer>
  <script src="https://unpkg.com/vue@3.2.21/dist/vue.global.js"></script>
  <script type="module" th:attr="src=${ressourceesDeploy +'/js/flag.js'}"></script>
  <script type="text/javascript" th:attr="src=${ressourceesDeploy +'/js/footer.js'}"></script>
  <div id="background"></div>
</body>
</html>