<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>DirtyBiologistan - État</title>
</head>
<body>
<h1>Ceci est le site web non officiel du <strong>DirtyBiologistan</strong></h1>
<p>Vu son très très jeune âge, merci de patienter pour les services publics en cours de déploiement</p>
<p>Il sera demander au divers partis politiques de se faire connaitre a partir du 3 novembre 12h00</p>
<p>Dans l'attente de l'établissement de notre nouvelle consitution, merci de bien vouloir patienter</p>

<p id="end">Cordialement, un citoyens du DirtyBiologistan</p>
</body>
</html>