<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Formlaire de demande de la nationalité du DirtyBiologistan</title>
</head>

<body>
    <header th:replace="~{header:: baseLayout()}"></header>
    
        <h2>Inscription a l'état civil du DirtyBiologistan</h2>
    <form class="center" method="POST" th:action=@{/register} th:object="${register}" >
        
        <input class="form-horizontal" type="text" th:field="*{username}" placeholder="Username" required>
		<span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:errorclass="fieldError"></span>
		<input class="form-horizontal" type="text" th:field="*{colone}" placeholder="colone du pixel" >
        <input class="form-horizontal" type="text" th:field="*{ligne}" placeholder="ligne du pixel" >
        <label>
        	Sans pixel ?
        </label>
        <input class="form-horizontal" type="checkbox" th:field="*{isSansPixel}">
        <p>Par exemple si mon pixel est [127:36]. 127 est la colone, 36 la ligne</p>
        <select>
        <option th:each="role : ${roles}">[[${role}]]</option>
        </select>

        <input class="form-horizontal" type="password" th:field="*{password}" placeholder="Password" required>
        <input class="form-horizontal" type="text" th:field="*{firstname}" placeholder="Fisrtname" required>
        <input class="form-horizontal" type="text" th:field="*{name}"  placeholder="Name" required>

        <input class="form-horizontal" type="submit">

    </form>
    <footer th:replace="~{footer:: baseLayout()}"></footer>
</body>

</html>